/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes heart-scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

@keyframes sparks-flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.page {
  font-family: var(--main-font), sans-serif;
  background-color: var(--main-background-color);
  background-image: var(--main-background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--main-font-weight);
}

.header__card {
  justify-self: center;
  width: var(--section-width);
  max-width: 100%;
  margin-block: 100px;
  border: 2px solid var(--border-color);
  padding-inline: clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem);
  padding-block: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
  font-family: var(--accent-font);
  background-color: var(--section-background-color);
}

.logo {
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: fit-content;
}

.title {
  margin-block-end: 20px;
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-style: normal;
  line-height: 1;
  text-align: center;
}

.subtitle {
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-style: normal;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-block-end: 105px;
}

.section__card {
  justify-self: center;
  width: var(--section-width);
  max-width: 100%;
  border: 2px solid var(--border-color);
  padding-block-end: 26px;
  background-color: var(--section-background-color);
}

.section__card-title {
  margin-inline: 10px 24px;
  margin-block: 4px 3px;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
  font-variation-settings: 'wght' var(--title-font-weight);
}

.section__card-illustration {
  position: relative;
  border-block: 2px solid var(--border-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.illustration__image {
  display: block;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.sepia {
  filter: sepia(40%) brightness(80%) contrast(90%);
}

.bright {
  filter: saturate(250%);
}

.hue-rotate {
  filter: hue-rotate(-50deg);
}

.invert {
  filter: invert(40%) saturate(130%) contrast(120%);
}

.grayscale {
  filter: grayscale(40%) sepia(20%);
}

.blur {
  filter: blur(3px);
}

.mix {
  filter: invert(90%) saturate(90%) hue-rotate(180deg) contrast(120%);
}

.illustration__label {
  position: absolute;
  top: 23px;
  right: 25px;
  z-index: 1;
  display: block;
  opacity: 0.5;
  color: var(--main-color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 22.09px;
  text-shadow:
  -1px 0 var(--stroke-text-color), 
  0 1px var(--stroke-text-color), 
  1px 0 var(--stroke-text-color), 
  0 -1px var(--stroke-text-color);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--stroke-text-color)) or (-webkit-text-stroke: 1px var(--stroke-text-color))) {
  .illustration__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroke-text-color);
    text-stroke: 1px var(--stroke-text-color);
  }
}

.section__card-article {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 25px;
}

.section__card-article p {
  padding: 0;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
}

.like {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 4px;
  max-height: 39px;
  margin-inline-end: 25px;
}

.button {
  position: relative;
  border: 2px solid var(--border-color);
  overflow: hidden;
  background-color: var(--white);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: var(--hover-bg-color);
  transition: transform 0.5s ease-in-out;
}

.button__text {
  position: relative;
  z-index: 1;
  width: fit-content;
  border: none;
  padding: 0;
  color: var(--button-text-color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  text-align: center;
  mix-blend-mode: difference;
}

.button:hover::before {
  transform: translateX(100%);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px var(--box-shadow-color);
  outline: none;
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--border-color);
  outline: none;
}

.like-icon {
  block-size: 36px;
  inline-size: 39px;
}

.heart {
  transform-origin: center;
}

.core {
  fill: transparent;
  transition: fill 0.3s ease 0.03s;
}

.like-icon:hover .core {
  fill: var(--like-hover-color);
  transition: fill 0.3s ease;
}

.like-icon:active .core {
  fill: var(--like-active-color);
  transition: fill 0.3s ease;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s ease;
}

.like-icon:hover .main-body {
  fill: var(--like-hover-color);
  transition: fill 0.3s ease 0.05s;
}

.like-icon:active .main-body {
  fill: var(--like-active-color);
  transition: fill 0.3s ease 0.05s;
}

.contour {
  fill: var(--like-contour-color);
  transition: fill 0.1s linear;
}

.sparks {
  opacity: 0;
  fill: var(--like-sparks-color);
}

.like-icon.is-liked .core {
  fill: var(--like-active-color);
  transition: fill 0.3s ease;
}

.like-icon.is-liked .main-body {
  fill: var(--like-active-color);
  transition: fill 0.3s ease 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--like-active-color);
  transition: fill 0.3s ease 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in;
  animation-delay: 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks-flash 0.3s ease-in;
  animation-delay: 0.3s;
}

.card__like-button {
  display: block;
  min-width: 130px;
  padding: 9px 17px;
}

.save__button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 19px;
}

.floppy-icon {
  inline-size: 21px;
  block-size: 21px;
}

.save__button .floppy-icon {
  fill: var(--button-text-color);
  mix-blend-mode: difference;
}

.dialog__save {
  position: fixed;
  inset: 0;
  min-width: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  max-height: 191px;
  border: 2px solid var(--border-color);
  background-color: var(--section-background-color);
}

.dialog__save[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}

.dialog__save::backdrop {
  opacity: 0.75;
  background-color: var(--main-color);
}

.dialog__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.dialog__content-label {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__content .floppy-icon {
  fill: var(--main-color);
  inline-size: 39px;
  block-size: 39px;
}

.dialog__button-close {
  max-height: 38px;
  padding-block: 9px;
}

@media (width <= 375px) {
  .header__card {
    padding-block: 120px;
  }

  .illustration__label {
    top: 20px;
    right: 11px;
  }

  .save__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 15px 19px;
  }

  .save__button .floppy-icon {
    width: 29px;
    height: 29px;
  }

  .dialog__save[open] {
    padding-inline: 40px;
  }
}